# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Log files
*.log

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data
data/raw/

# VSCode
.vscode/

# macOS
.DS_Store
